:root {
  --introSecShadowDark: -23px 6px 45px -8px rgba(0, 0, 0, 0.4);
  --introSecShadowLight: -23px 6px 45px -8px rgba(255, 255, 255, 0.2);
  --introSecShadowDark_m: -0px -4px 30px -1px rgba(0, 0, 0, 0.4);
  --introSecShadowLight_m: -0px -4px 30px -1px rgba(255, 255, 255, 0.3);
  --introSecBoxCorner: 50px 0px 0px 0px;
  --introSecBoxCorner_m: 30px 30px 0px 0px;
  --headingFontSize : 3rem;
  --headingFontSize_m : 2.5rem;
  --countryNameFontSize : 4rem;
  --countryNameFontSize_m : 2.5rem;
  --countryCardInfoFontSize : 20px;
}


@font-face {
  font-family: gilroy-bold;
  src: url('/assets/fonts/Gilroy-ExtraBold.otf');
}
@font-face {
  font-family: openSans-regular;
  src: url("/assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: openSans-medium;
  src: url("/assets/fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: playFair-regular;
  src: url("/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: spaceMono-regular;
  src: url("/assets/fonts/SpaceMono-Regular.ttf");
}
/* ------------ global Section--------------------- */
/* .scroll_container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.snap_point{
  scroll-snap-align: start;
} */

.overlay_wrapper {
  position: absolute;
  z-index: 20;
  width: 100%;
  opacity: 0.2;
}
.intro {
  height: 100vh;
  width: 100%;
  background-color: #e4f5fd;
  position: relative;
  overflow: hidden;
}
.intro_info_container{
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.info_blur_reveal{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7.5px);
  clip-path: circle(0%);
}
.info_data{
  width: 100%;
  height: 100%;
  background-image: url(https://static.experientia.in/nasaBlackMarble/satelliteViewNight.webp);
  background-size: cover;
  background-position: center;
  transform: translateY(-100%);
  position: relative;
}
.data_backGround_control{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  position: relative;
}
.data_grid_holder{
  padding: 20px;
  max-width: 500px;
  opacity: 0;
}
.data_heading{
  color: #f7f7f7;
  font-family: gilroy-bold;
  font-size: var(--headingFontSize);
  padding-top: 200px;
}
.data_paragraph{
  color: #f7f7f7;
  font-family: openSans-medium;
  font-size: 1rem;
}
.author_info, .author_info a{
  color: #f7f7f7;
  font-family: playFair-regular;
  margin-top: 0.5rem;
  font-size: 1rem;
}
.scroll_footer_section{
  position: absolute;
  color: #f7f7f7;
  bottom: -100px;
  width: 100%;
  height: 40px;
  color: #f7f7f7;
  display: grid;
  place-items:center ;
  

}
.scroll_footer_section span{
  display: grid;
  place-items:center ;
  font-family: playFair-regular;
  border: 2px solid #f7f7f7;
  width: 120px;
  height: 40px;
  border-radius: 25px;
  outline: none;
}

/* ------------ Desktop Section--------------------- */

.mapCards {
  transform: translateX(100%);
}

.streetMap {
  position: absolute;
  z-index: 3;
  width: 90%;
  height: 100%;
  right: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/streetMap.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowDark);
  border-radius: var(--introSecBoxCorner);
}
.basicMap {
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 85%;
  right: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/basicMap.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowDark);
  border-radius: var(--introSecBoxCorner);
}
.outdoorMap {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 80%;
  right: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/outdoorMap.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowDark);
  border-radius: var(--introSecBoxCorner);
}
.darkMonoChromeMap {
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 75%;
  right: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/darkMonoChrome.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowDark);
  border-radius: var(--introSecBoxCorner);
}
.physicalMap {
  position: absolute;
  z-index: 7;
  height: 100%;
  width: 70%;
  right: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/physicalMap.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowLight);
  border-radius: var(--introSecBoxCorner);
}
.whiteMonoChromeMap {
  position: absolute;
  z-index: 8;
  height: 100%;
  width: 65%;
  right: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/whiteMonoChrome.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowLight);
  border-radius: var(--introSecBoxCorner);
}
.winterMap {
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 60%;
  right: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/winterMap.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowDark);
  border-radius: var(--introSecBoxCorner);
}
.country_section{
  width: 100%;
  height: 100vh;
  position: relative;
}
.country_name{
  color: #f7f7f7;
  font-family: gilroy-bold;
  font-size: var(--countryNameFontSize);
  padding-left: 50px;
  padding-top: 75px;
  position: absolute;
  z-index: 1;
}
.country_card{
  position: absolute;
  right: 0;
  width: 400px;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  border-radius: 10px 0px 0px 10px;
  z-index: 2;
}
.country_feature_image{
  padding: 25px;
  padding-top: 100px;
}
.country_feature_image img{
  border-radius: 15px;
  width: 350px;
}
.country_feature_info{
  color: #f7f7f7;
  font-size: var(--countryCardInfoFontSize);
  font-family: openSans-regular;
  padding-left: 25px;
  padding-right: 25px;
}
.country_feature_info a{
  color: #f7f7f7;
}
.country_year{
  font-size: 1.25rem;
  font-family: spaceMono-regular;
}
/* ------------ Mobile Section--------------------- */

.mapCards_m {
  transform: translateY(100%);
}

.streetMap_m {
  position: absolute;
  z-index: 3;
  background-image: url("https://static.experientia.in/nasaBlackMarble/streetMap.webp");
  height: calc(100% - 100px);
  width: 100%;
  background-position: center;
  background-size: cover;
  bottom: 0;
  box-shadow: var(--introSecShadowDark_m);
  border-radius: var(--introSecBoxCorner_m);
}
.basicMap_m {
  position: absolute;
  z-index: 4;
  height: calc(100% - 175px);
  width: 100%;
  bottom: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/basicMap.webp");
  background-position: center -40px;
  background-size: cover;
  box-shadow: var(--introSecShadowDark_m);
  border-radius: var(--introSecBoxCorner_m);
}
.outdoorMap_m {
  position: absolute;
  z-index: 5;
  height: calc(100% - 250px);
  width: 100%;
  bottom: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/outdoorMap.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowDark_m);
  border-radius: var(--introSecBoxCorner_m);
}
.darkMonoChromeMap_m {
  position: absolute;
  z-index: 6;
  height: calc(100% - 325px);
  width: 100%;
  bottom: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/darkMonoChrome.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowDark_m);
  border-radius: var(--introSecBoxCorner_m);
}
.physicalMap_m {
  position: absolute;
  z-index: 7;
  height: calc(100% - 400px);
  width: 100%;
  bottom: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/physicalMap.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowLight_m);
  border-radius: var(--introSecBoxCorner_m);
}
.whiteMonoChromeMap_m {
  position: absolute;
  z-index: 8;
  height: calc(100% - 475px);
  width: 100%;
  bottom: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/whiteMonoChrome.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowLight_m);
  border-radius: var(--introSecBoxCorner_m);
}
.winterMap_m {
  position: absolute;
  z-index: 9;
  height: calc(100% - 550px);
  width: 100%;
  bottom: 0;
  background-image: url("https://static.experientia.in/nasaBlackMarble/winterMap.webp");
  background-position: center;
  background-size: cover;
  box-shadow: var(--introSecShadowDark_m);
  border-radius: var(--introSecBoxCorner_m);
}
.country_section_m{
  height: 100vh;
  width: 100%;
  position: relative;
  /* overflow-x: hidden; */
}
.country_name_m{
  color: #f7f7f7;
  font-family: gilroy-bold;
  font-size: var(--countryNameFontSize_m);
  padding-left: 25px;
  padding-top: 40px;
  /* position: absolute;
  z-index: 1; */
}
.country_feature_image_m{
  padding-left: 25px;
  padding-top: 25px;
}
.country_feature_image_m img{
  height: 100px;
  border-radius: 15px;
}
.country_card_m{
  position: absolute;
  /* height: 300px; */
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to top,  rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}
/* ------------ Media Queries--------------------- */
@media screen and (max-width: 500px) {
  .bigScreen {
    display: none;
  }
  .data_heading{
    font-size: var(--headingFontSize_m);
    padding-top: 250px;
  }
  .country_section{
    display: none;
  }
  .country_feature_info{
    font-size: 19px;
  }
  .country_year{
    font-size: 1rem;
  }
  .country_feature_info{
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 500px) {
  .smallScreen {
    display: none;
  }
  /* .country_section{
    opacity: 0;
  } */
  .country_section_m{
    display: none;
  }
}
